@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');

.App{
    min-height: 100vh;
    display: flex;
    background: linear-gradient(rgb(83, 168, 242), rgb(2, 62, 108));
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

